<!doctype html>
<html lang="ua">

        <%-include ./partial/nav.ejs%>

<body class="bg-dark">
    <div class="nizkiy-flex">
        <header>
                <%-include ./partial/head.ejs%>
        </header>
    <main>
        <div class="d-flex flex-column text-white">
            <img src="images/media/about.jpg" class=" about mx-auto d-block align-middle  about-photo"alt="about">
            <div class="flex-column about-text">
                <p class="text-center">
                    «ПОРНОФИЛЬМЫ» — молодая и при этом самая политизированная панк-группа в России. В музыкальном плане
                    —
                    это мелодичный, простой и понятный панк-рок. В плане смысловой нагрузки — это максимально
                    прямолинейные,
                    при том ироничные и ядовитые тексты, называющие вещи своими именами.
                </p>
                <p class="text-center">
                    «ПОРНОФИЛЬМЫ» — это панк-рок в лучших традициях Dead Kennedys, Bad Religion, ранних The Offspring,
                    Pennywise, Anti-Flag, грамотно и кропотливо адаптированный под русский менталитет. Каждое
                    выступление
                    группы, словно последнее: полная самоотдача, энергетический взрыв и полное погружение в безумие.
                </p>
                <p class="text-center">
                    Группа существует с 2008 года и за свою карьеру выпустила более 10 релизов различной
                    продолжительности,
                    а альбом «Молодость и панк-рок» вывел группу в топ среди коллективов их направления.
                </p>
                <p class="text-center"> Гастрольный график ансамбля насчитывает более 30 городов за сезон, а концерты в
                    столицах проходят при полных аншлагах.
                </p>
                <p class="text-center"> Примечательно, что все участники коллектива вегетарианцы, не употребляют
                    алкоголь,
                    наркотики, не курят.
                </p>
                <p class="text-center">
                    Хочется отметить, что абсолютно все релизы группы за 7 лет были записаны собственными силами в
                    гараже в
                    подмосковном городе Дубна. Пройдя путь от записей «подвального» качества, сейчас группа выдает такой
                    звук на пластинках, которому могут позавидовать многие «студийные» артисты.
                </p>
            </div>
        </div>

    </main>
        <div >

    <%-include ./partial/footer.ejs%>
    <%-include ./partial/scripts.ejs%>

</body>

</html>