<!doctype html>
<html lang="ua">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">
    <link href="/public/stylesheets/style.css" rel="stylesheet">
</head>

<body class="bg-dark" style="height: 100%">
    <div style="min-height: 100%">
                <header>
                        <nav class="navbar navbar-expand-xl scrolling-navbar fixed-top navbar-dark ">
                            <img class="logo img-fluid" src="/public/images/logo.png" alt="logo">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="basicExampleNav">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link waves-effect waves-light" href="/">Головна сторінка
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link waves-effect waves-light" href="/about">Про гурт</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link waves-effect waves-light" href="/photos">Галерея</a>
                                    </li>
                
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Дадатково</a>
                                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item waves-effect waves-light" href="/tours">Розклад турів</a>
                                            <a class="dropdown-item waves-effect waves-light" href="/music">Музика</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link waves-effect waves-light" href="/booking">Квитки</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link waves-effect waves-light" href="/contacts">Контакти</a>
                                    </li>
                                </ul>
                                <form class="form-inline">
                                    <div class="md-form my-0">
                                        <input class="form-control mr-sm-2" type="text" placeholder="Пошук" aria-label="Search">
                                    </div>
                                </form>
                
                                <span class="navbar-nav">
                                    <span class="nav-item">
                                        <a class="nav-link waves-effect waves-light" href="/login">Вхід</a>
                                    </span>
                                </span>
                
                
                            </div>
                
                        </nav>
                    </header>
            <main class="body-test">
                <section class="booking about text-white">
                    <div class="intro">
                        <h1>БЛИЖАЙШИЕ КОНЦЕРТЫ</h1>
                        <div class="offset-4 col-md-4">
                            <p> Друзья! Доводим до вашего сведения, что только те концертные даты, которые вы видите на
                                этом
                                сайте, являются окончательно подтвержденными.
                                Это означает, что:
                                — Концерт состоится на 95%. Причиной отмены концерта в этом случае могут служить лишь
                                обстоятельства непреодолимой силы.
                                — Любой концерт «ПОРНОФИЛЬМОВ», анонсируемый (и даже усиленно рекламируемый) в вашем
                                городе,
                                не может считаться официально подтвержденным до тех пор, пока его дата не появится на
                                официальном сайте группы.
                                Будьте внимательны.
                            </p>
                        </div>
                    </div>

                    <table class="table text-white">
                        <thead class="black  ">
                            <tr>
                                <th>Дата</th>
                                <th>Місто</th>
                                <th>Місце</th>
                                <th>Купуй</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>12 июля 2019 , ПТ</th>
                                <td>Ярославль</td>
                                <td>Фестиваль Доброфест</td>
                                <td><button type="button" class="btn ">Купити</button></td>

                            </tr>
                            <tr>
                                <th>14 июля 2019 , ВС</th>
                                <td>Киев</td>
                                <td>Фестиваль Atlas Weekend</td>
                                <td><button type="button" class="btn">Купити</button></td>
                            </tr>
                            <tr>
                                <th>19 июля 2019 , ПТ </th>
                                <td> Лагуново</td>
                                <td>Фестиваль Улетай</td>
                                <td><button type="button" class="btn ">Купити</button></td>
                            </tr>
                        </tbody>
                    </table>





                </section>
            </main>
    </div>
    <footer class="page-footer text-center text-md-left mt-1 pt-4 sizer">
        <div class="text-center">© 2019 Фан сайт гурту Порнофильмы. Жодні права не захищені.</div>
    </footer>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/js/mdb.min.js"></script>

</body>

</html>