<!doctype html>
<html lang="ua">

        <%-include ./partial/head.ejs%>

<body class="bg-dark" style="height: 100%">
       <div class="nizkiy-flex">

            <header>
                    <%-include ./partial/nav.ejs%>
            </header>

            <main class="text-white about">
                <div class="offset-md-4 col-md-4 offset-sm-2 col-sm-8 text-center">
                    <h1>Контакти</h1>
                    <p>Александр Русаков</p>
                    <img src="images/contacts_btn/star.png" alt="star">
                    <p> Организация концертов</p>
                    <img src="images/contacts_btn/phone.png" alt="phone">
                    <p>+7 (920) 183-28-80</p>
                    <img src="images/contacts_btn/mail.png" alt="mail">
                    <p>farpstyle@rambler.ru</p>
                    <h1>Гурт в соціальних мережах</h1>
                    <div>
                        <a href="https://vk.com/pornopunk" target="_blank" rel="noopener noreferrer">
                            <img src="images/contacts_btn/vk.png" alt="vk">
                        </a>
                        <a href="https://www.youtube.com/user/PunkPornofilmi" target="_blank" rel="noopener noreferrer">
                            <img src="images/contacts_btn/yt.png" alt="yt">
                        </a>
                        <a href="https://twitter.com/pornopunk_ru" target="_blank" rel="noopener noreferrer">
                            <img src="images/contacts_btn/tw.png" alt="tw">
                        </a>
                        <a href="https://soundcloud.com/pornopunk" target="_blank" rel="noopener noreferrer">
                            <img src="images/contacts_btn/sc.png" alt="sc">
                        </a>
                    </div>
                    
                </div>
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 960px">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d70019.37047468996!2d37.10759761660378!3d56.741156868319386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b442543a449f99%3A0xa7c9eadd244e2090!2z0JTRg9Cx0L3QsCwg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGP!5e0!3m2!1sru!2sua!4v1560771459282!5m2!1sru!2sua"
                            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
            </main>
        <div>

            <%-include ./partial/footer.ejs%>
            <%-include ./partial/scripts.ejs%>

</body>

</html>