<!doctype html>
<html lang="ua">

        <%-include ./partial/head.ejs%>

<body class="bg-dark" style="height: 100%">
        <div style="min-height: 100%">
            <header>
                    <%-include ./partial/nav.ejs%>
            </header>

            <main class="text-white about offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4 align-middle">
                <form class="text-center login-form  p-5" action="/login" method="post">

                    <p class="h4 mb-4">Sign in</p>

                    <!-- Email -->
                    <input type="email" name="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

                    <!-- Password -->
                    <input type="password" name="password" id="defaultLoginFormPassword" class="form-control mb-4"
                        placeholder="Password">

                    

                    <!-- Sign in button -->
                    <button class="btn btn-block my-4" type="submit">Sign in</button>

                

                </form>
            </main>
    </div>
    <%-include ./partial/footer.ejs%>
    <%-include ./partial/scripts.ejs%>

</body>

</html>