<!doctype html>
<html lang="ua">

        <%-include ./partial/head.ejs%>

<body class="bg-dark">
        <div class="nizkiy-flex">

    <header>
            <%-include ./partial/nav.ejs%>
    </header>
    <main>
        <section class="media-container ">
                
                <div class="thumbnail">
                    <img class="media" src="images/media/1.jpg" alt="">
                </div>
              
                <div class="thumbnail">
                    <img class="media" src="images/media/2.jpg" alt="">
                </div>
                
                <div class="thumbnail">
                    <img class="media" src="images/media/3.jpg" alt="">
                </div>
                
                <div class="thumbnail">
                    <img class="media" src="images/media/4.jpg" alt="">
                </div>
                
                <div class="thumbnail">
                    <img class="media" src="images/media/5.jpg" alt="">
                </div>
                
                <div class="thumbnail">
                    <img class="media" src="images/media/about.jpg" alt="">
                </div>
                
                <div class="thumbnail">
                    <img class="media" src="images/media/6.jpg" alt="">
                </div>
                
                <div class="thumbnail " >
                    <img class="media" src="images/media/7.jpg" alt="">
                </div>
                
                <div class="thumbnail">
                    <img class="media" src="images/media/8.jpg" alt="">
                </div>
                <div class="thumbnail">
                    <img class="media" src="images/media/9.jpg" alt="">
                </div>
        </section>

    </main>
        </div >

    <%-include ./partial/footer.ejs%>
    <%-include ./partial/scripts.ejs%>
</body>

</html>