<!doctype html>
<html lang="ua">
<%- include ./partial/head.ejs%>

<body class="bg-dark">
 <div class="nizkiy-flex">
    <header>
        <%-include ./partial/nav.ejs %>
    </header>
    <main>
        <section>
            <div class="container-fluid">
                <section class="section pb-3 wow fadeIn" data-wow-delay="0.3s">
                    <h1 class="font-weight-bold text-center text-light h1 my-5 ">Альбоми</h1>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card card-ecommerce">
                                <div class="view overlay z-depth-1">
                                    <a href="https://itun.es/i6hW2vr?app=music" class="text-muted" target="blank">
                                        <img src="images/media/album1.jpg" class="card-img-top" alt="">
                                    </a>
                                </div>
                                <div class="card-body text-center no-padding">
                                    <a href="https://itun.es/i6hW2vr?app=music" class="text-muted" target="blank">
                                        <h5>Как в последний раз </h5>
                                        <p>1 Как в последний раз 5:39</p>
                                        <p>2 Песенка-антиутопия о фашизме 4:55</p>
                                        <p>3 Прости. Прощай. Привет 5:09</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card card-ecommerce">
                                <div class="view overlay z-depth-1">
                                    <a href="http://bit.ly/pfitunes" class="text-muted" target="blank">
                                        <img src="images/media/album2.jpg" class="card-img-top" alt="">
                                    </a>
                                </div>
                                <div class="card-body text-center no-padding">
                                    <a href="http://bit.ly/pfitunes" class="text-muted" target="blank">
                                        <h5>В диапазоне между отчаянием и надежой</h5>
                                        НАЗВАНИЕ ВРЕМЯ

                                        <p>1
                                            Россия для грустных
                                            2:59
                                        </p>
                                        <p>
                                            2
                                            Для пацанов и девчонок
                                            4:01
                                        </p>
                                        <p>
                                            3
                                            Русский Христос
                                            4:36
                                        </p>
                                        <p>
                                            4
                                            Система
                                            3:47
                                        </p>
                                        <p>
                                            5
                                            Я так боюсь
                                            4:19
                                        </p>
                                        <p>
                                            6
                                            Надежда
                                            4:43
                                        </p>
                                        <p>
                                            7
                                            Песни громче бомб
                                            3:30
                                        </p>
                                        <p>
                                            8
                                            В диапазоне
                                            5:31
                                        </p>
                                        <p>
                                            9
                                            Никто не вспомнит
                                            6:00
                                        </p>
                                        <p>
                                            10
                                            Выйди из комнаты
                                            4:19
                                        </p>
                                        <p>
                                            11
                                            Только ты
                                            4:03
                                        </p>
                                        <p>
                                            12
                                            Давай притворимся
                                            3:30
                                        </p>
                                        <p>
                                            13
                                            Я так соскучился
                                            6:48
                                        </p>
                                        <p>
                                            14
                                            Перемены
                                            3:54</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card card-ecommerce">
                                <div class="view overlay z-depth-1">
                                    <a target="blank"
                                        href="https://itunes.apple.com/ru/album/molodost-i-pank-rok/id943563138"
                                        class="text-muted">
                                        <img src="images/media/album3.jpg" class="card-img-top" alt="">
                                    </a>
                                </div>
                                <div class="card-body text-center no-padding">
                                    <a target="blank"
                                        href="https://itunes.apple.com/ru/album/molodost-i-pank-rok/id943563138"
                                        class="text-muted">
                                        <h5>Молодость и панк-рок</h5>

                                        <p>

                                            1
                                            Молодость
                                            2:57
                                        </p>
                                        <p>
                                            2
                                            Проплаченная песня (feat. Элизиум)
                                            4:14
                                        </p>
                                        <p>
                                            3
                                            Родина зовёт!
                                            2:45
                                        </p>
                                        <p>
                                            4
                                            Разменяй мечту!
                                            2:15
                                        </p>
                                        <p>
                                            5
                                            Город
                                            0:48
                                        </p>
                                        <p>
                                            6
                                            Ружьё
                                            3:15
                                        </p>
                                        <p>
                                            7
                                            Песня в пустоту
                                            3:19
                                        </p>
                                        <p>
                                            8
                                            Камни в витрины
                                            1:55
                                        </p>
                                        <p>
                                            9
                                            Гордость
                                            1:57
                                        </p>
                                        <p>
                                            10
                                            Выключите гимн!
                                            2:18
                                        </p>
                                        <p>
                                            11
                                            Пулю буржую
                                            2:39
                                        </p>
                                        <p>
                                            12
                                            Выпускные балы (feat. Барто)
                                            2:05
                                        </p>
                                        <p>
                                            13
                                            Зелёные стёкла
                                            4:12
                                        </p>
                                        <p>
                                            14
                                            Мы вам не верим!
                                            6:36
                                        </p>

                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card card-ecommerce">
                                <div class="view overlay z-depth-1">
                                    <a href="https://itun.es/i6YF6PF?app=itunes" class="text-muted" target="blank">
                                        <img src="images/media/album4.jpg" class="card-img-top" alt="">
                                    </a>
                                </div>
                                <div class="card-body text-center no-padding">
                                    <a href="https://itun.es/i6YF6PF?app=itunes" class="text-muted" target="blank">
                                        <h5>Русская мечта.Часть 2</h5>
                                        <p>

                                            1
                                            Нищих убивай!
                                            4:21
                                        </p>
                                        <p>
                                            2
                                            Роди мне 1000 детей!
                                            2:48
                                        </p>
                                        <p>
                                            3
                                            Не доверяйте правительству! (feat. Лёха Никонов)
                                            2:46
                                        </p>
                                        <p>
                                            4
                                            Велосипед
                                            2:55
                                        </p>
                                        <p>
                                            5
                                            Три
                                            2:50
                                        </p>
                                        <p>
                                            6
                                            Папа, не пей!
                                            4:28
                                        </p>
                                        <p>
                                            7
                                            Религиозный фанатик
                                            6:26
                                        </p>
                                        <p>
                                            8
                                            Песенка о позабытых министерством доброты (feat. Rishafox)
                                            6:17
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>
    </div>
    <%-include ./partial/footer.ejs%>
    <%-include ./partial/scripts.ejs%>
</body>

</html>