.logo{
    width: 10%;
}
.navbar {
    background-color: black;
  }
  body{
    display: flex;
    flex-direction: column;
  }
  html,
  body {
    height: 100%;
  }
  
  .carousel,
  .carousel-item,
  .carousel-item.active {
    height: 100%;
  }
  
  .carousel-inner {
    height: 100%;
  }
  .btn {
      background-color: #000000;
  }
  .body-test{
    text-align: center;
  }
  .btn:hover{
      color:white;
      background-color: #212121;
  }

  .my-main{
    overflow: auto;
    padding-bottom: 60px;
  }
  
  .about{
      margin-top: 5%;
  }
  .about-text{
    max-width: 33.333333%;
    margin-left: 33.333333%;
  }
  .media-box{
      
    max-width: 33.333333%;

  }
  @media screen and (max-width: 1280px) {
    
    .logo{
        width: 20%;
    }
    .about{
      margin-top: 10%;
    }
    .about-text{
        margin-left: 25%;
        max-width: 50%
    }
    .media-box{
        max-width: 50%;
    
    }
  }
  @media screen and (max-width: 760px) {
    .about{
      margin-top:25%;
    }
    .about-text{
        margin-left: 7.5%;
        max-width: 85%
      }
      .about-photo{
        width: 90%;
        }
      
  }
  
  footer{
      background-color:#000000;
  }
  .nizkiy-flex{
    flex-grow: 1;
  }
   .media {
      height: 300px;
      max-width: 100%;
      object-fit:cover;
  }
  .media-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 10px;
    justify-items: center;
      margin:  2% 2% 2% 2%;
  }
  
  
 
  
  
  .thumbnail {
    transition: all 0.4s ease;
    text-align: center;
  }
  
  .thumbnail:hover {
    transform: scale(1.5);
  }
  .login-form{
    box-shadow: 0px 0px 12px 10px #908b8b; 
  }
  table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}
  

