 <% for( ticket of tickets ) { %>
                                <tr>
                                    <th><%=ticket.date%></th>
                                    <td><%=ticket.city%></td>
                                    <td><%=ticket.name%></td>
                                </tr>
<% } %>